<! doctype HTML>
<html>
    <head>
        <title>Writing Statistics on {{ sitename }}</title>
        <link rel="stylesheet" href="https://micah.torcellini.org/assets/css/main.css">
        <meta name="title" content="Writing statistics on {{ sitename }}">
    </head>
    <body>
        <main class="main">
            <h1>Writing Statistics on <a href="{{ siteurl }}">{{ sitename }}</a></h1>
            <ul>
                <li>Flesch-Kincaid Grade Level: {{ Flesch Kincaid grade level }}</li>
            </ul>
        </main>
    </body>
</html>